*{
    scrollbar-width: none;
}
#chat-screen{
    background-color: #abc1d1;
    height: 200vh;
}


.chat-screen-box {
    display: block;
    z-index: 1;
    position:sticky;
    top: 0px;
    width:100%;
    background-color:#abc1d1;
}


.chat-status-bar{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    z-index: 2;
}


.chat-screen-header{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.chat-screen-header__icons {
    width:33.33%;
}


.chat-screen-header__icons:last-child {
    display:flex;
    justify-content: right;

}

.chat-screen-header__title{
    text-align: center;
    font-weight: 600;
} 


.chat-screen-header__icons h1{
    font-size: 23px;
}


.chat-screen-header__icons i {
    font-size : 29px;
}


.chat-timestamp {
    color:white;
    background-color:#92a4b2;
    padding: 10px 15px 11px 15px;
    border-radius: 15px; 
    font-size: 16px;
    opacity: 90%;
}


@keyframes fadeIn {
    
    from{

        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes fadeInformleft {
    
    from{

        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }

}

.main-chat {
    padding-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.chat-timestamp {
    transform: translateY(-30px);
    animation: fadeIn 3s cubic-bezier(0.015, 0.210, 0.000, 1.010) forwards;
}


.message-row:nth-child(2) {
    transform: translateX(-400px);
    animation: fadeInformleft 1s cubic-bezier(0.015, 0.210, 0.000, 1.010) forwards;
    animation-delay: 0.2s;
}

.message-row:nth-child(3) {
    transform: translateX(-400px);
    animation: fadeInformleft 1s cubic-bezier(0.015, 0.210, 0.000, 1.010) forwards;
    animation-delay: 0.5s;
}


.message-row:nth-child(4) {
    transform: translateX(400px);
    animation: fadeInformleft 1s cubic-bezier(0.015, 0.210, 0.000, 1.010) forwards;
    animation-delay: 0.7s;
}

.message-row {
    
    width: 100%;
    display: flex;
    margin: 25px 0 0px 0;
}

.message-row--own {
    justify-content: flex-end;
}

.message-row img{
    width:70px;
    height: 70px;
    border-radius: 50px;
    padding-right: 10px;
}

.message__author {
    padding: 10px 0 13px 0;
    opacity: 80%;
    font-size: 18px;
}

.message__info {
    display:flex;
    align-items: flex-end;
}

.message__buble {
    background-color:white;   
    padding: 10px 15px 12px 15px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    font-size: 20px;
}

.time-and-not-readed{
    display: flex;
    flex-direction: column;
}

.message__not-readed{
    text-align:right;
    padding: 0 8px 3px 0;
    font-size: 15px;
    color:var(--yellow);
}

.message__buble--user {
    background-color:var(--yellow);   
    padding: 10px 15px 12px 15px;
    border-radius: 15px;
    border-top-right-radius: 0px;
    font-size: 20px;
    
} 


.message__time {
    opacity: 60%;
    font-size: 14px;
    margin: 0 8px ;
}


.reply {
    box-sizing: border-box;
    width:100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
    text-align: center;
    padding-right: 3px;
    width: 10%;
    opacity: 0.4;
    font-size: 18px;
}
.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}


.reply input {

    height: 50px;
    width:90%;
    border:var(--main-border);
    border-radius: 15px;
    padding-top: 5px;
    transition: all 0.3s ease-in-out;    
}

.reply:focus-within {
    transform:translateY(70px);
}   


.reply input::placeholder {
    
    font-size: 19px;
    padding-left: 15px;
}

.reply .reply__column:last-child button {
    
    background-color: var(--yellow);
    border: none;
    border-radius: 50%;
    position:absolute;
    width: 45px;
    height: 45px;    
    right: 16px;
    top: 7px; 
}

.reply__column button:focus, 
.reply__column button:active {

    outline: none;

}

.reply .reply__column:last-child > i {
    position:absolute;
    right: 73px;
    top: 13px;
    opacity: 40%;
}

.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button {

    transition: opacity 0.3s ease-in-out;

}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
    
    opacity: 0 !important;

}


.reply input:focus {
    width: 95vw;
    transform: translateX(-10%) translateY(-70px);
    border-radius: 50px;
}


