
.nav {    
    box-sizing: border-box;
    position: fixed;
    bottom:0px;
    width: 100%;
    background-color: #f9f9fa;
    padding: 0px 5px;
    border-top: 1px solid rgba(121,121,121, 0.3);
}


.nav__list {
    display: flex;
    justify-content: space-between;
    align-items:baseline;    
}

.nav__link {
    width:80%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #3e4235;

}

.nav__btn {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items:baseline;
}

.nav__btn i {

transform: translateY(60px);    
animation: appearBtnAnimation 0.5s ease-in-out forwards;

}


@keyframes appearBtnAnimation {
    from{
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}


.nav__btn:nth-child(3) i {
    animation-delay:0.1s;
}
.nav__btn:nth-child(2) i {
    animation-delay:0.2s;
}
.nav__btn:nth-child(1) i {
    animation-delay:0.3s;
}


@keyframes notificationAnimation {
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-8px) rotateY(180deg);
    }
    100%{
        transform: none;

    }
}



.nav__notification {
    position:absolute;    
    left: 15px;
    top: -7px;
    font-size:16px;
    animation: notificationAnimation 2s ease-in-out infinite;
 }


.bgbold{
    background-color: #dfdfdf;
}



