
.nav {    
    box-sizing: border-box;
    position: fixed;
    bottom:0px;
    width: 100%;
    background-color: #f9f9fa;
    padding: 0px 5px;
    border-top: 1px solid rgba(121,121,121, 0.3);
}


.nav__list {
    display: flex;
    justify-content: space-between;
    align-items:baseline;    
}

.nav__link {
    width:80%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #3e4235;

}

.nav__btn {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items:baseline;

}
 

.nav__notification {
    position:absolute;    
    left: 15px;
    top: -10px;
    font-size:16px;
 }


.bgbold{
    background-color: #dfdfdf;
}