.screen-box {
    display: block;
    z-index: 1;
    position:sticky;
    top: 0px;
    width:100%;
    background-color:#fff;
}


.screen-header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 30px 30px var(--horizeontal-space);

}
.screen-header__icon{
    display: flex;
    
}
.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
    opacity: 80%;
}